node_modules
.git
.gitignore
README.md
.env
.env.backup
.env.local
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/tests
/storage/logs/*.log
/public/hot
/public/storage
vendor/bin